.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding-top: 50px;
    box-sizing: border-box;
}

.container > img {
    position: absolute;
}

.image {
    bottom: 0;
    left: 15px;
}

.imageShadow {
    bottom: 5px;
    left: -5px;
    opacity: 0.2;
    filter: grayscale(1);
}

.main {
    width: 100%;
    background: linear-gradient(180deg, #EEEEEE 0%, #E0E1DC 100%);
    height: 600px;
    border-radius: 12px;
}

.details {
    float: right;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details * {
    letter-spacing: -0.06em;
}

.heading {
    color: rgba(3, 8, 31, 1);
    font-size: 4em;
    font-weight: 700;
}

.black {
    background-color: rgba(3, 8, 31, 1);
    padding: 10px 40px;
    font-size: 2.75em;
    color: white;
    border-radius: 50px;
    width: 105%;
    box-sizing: border-box;
    margin-right: 15%;
    text-align: right;
}

.black > span {
    color: rgba(252, 138, 6, 1);
    text-decoration: underline;
}

.details > p {
    font-size: 1.25em;

}

.store {
    display: flex;
    height: 60px;
    gap: 10px;
}

.store  img {
    margin: 5px 10px 7px 10px;
}

img.playstore {
    height: 100%;
    width: 100%;
    margin: 0;
}

.store > span {
    background-color: rgba(0, 0, 0, 1);
    padding: 5px 10px;
    border-radius: 5px;
}