.container {
    background-color: rgba(251, 251, 251, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    height: 500px;
    position: relative;
}

.center {
    height: 85%;
    position: absolute;
    bottom: 0;
    left: 24%;
    z-index: 10;
}

.img2 {
    height: 70%;
    position: absolute;
    bottom: 0;
    left: 55%;
    z-index: 9;
}

.orange {
    background-color: rgba(252, 138, 6, 1);
    height: 90%;
    width: 45%;
    border-radius: 280px 0 12px 0;
    position: absolute;
    right: 0;
    bottom: 0; 
}

.notification {
    position: absolute;
    right: 0;
    bottom: 0; 
    width: 40%;
}