.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.container > * {
  width: 85%;
}

.info,
.cart,
.cartItem,
.bill {
  display: flex;
  gap: 15px;
}

.cart {
  flex-direction: column;
  width: 60%;
  border: 1px solid rgba(3, 8, 31, 1);
  border-radius: 12px;
  box-sizing: border-box;
  padding: 20px;
}

.cart > .cartItem:first-child {
  border: none;
}

.cart input,
.address {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid rgba(32, 41, 56, 1);
}

.cartItem, .bill > * {
  border-top: 1px solid rgba(32, 41, 56, 1);
  padding: 5px;
  align-items: center;
}

.price {
  color: rgba(2, 134, 67, 1);
  margin-left: auto;
}

.cartItem > img {
  height: 48px;
  width: 48px;
  border-radius: 8px;
}

.bill {
  flex-direction: column;
  flex: 1;
}

.address {
    display: flex;
    gap: 15px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

.address button {
    margin-left: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgba(252, 138, 6, 1);
}

.address img {
  padding: 5px;
  border: 1px solid rgba(45, 55, 72, 1);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
}

.address span div:first-child {
    color: rgba(131, 133, 138, 1);
    font-size: 12px;
}

.summary > div, .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(131, 133, 138, 1);
    
}

.summary p, .subtotal h2 {
    margin: 5px;
}

.bill > button {
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(252, 138, 6, 1);
    border: none;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
}

.bill h3 {
    margin: 0;
}