.add {
    background-color: rgba(255, 237, 216, 1);
    color: rgba(252, 138, 6, 1);
    width: fit-content;
    padding: 20px;
    font-size: 1.5em;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.container {
    min-height: 40vh;
    height: fit-content;
    width: 60vw;
    background: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 40.8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Poppins", sans-serif;
}

.container input, .textarea, .inputRow > select {
    border: 1px solid rgba(197, 197, 197, 0.5);
    border-radius: 8px;
    font-weight: 500;
    color: rgba(126, 126, 126, 1);
    font-family: Poppins;
}

.title{
   display: flex;
   align-items: center;
   gap: 10px;
}

.inputRow {
    display: flex;
    gap: 10px;
}

.inputRow > * {
    width: 24%;
    padding: 5px 10px;
}

.textarea {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    resize: none;
}

.error {
    margin: 0;
    font-size: 0.8em;
    color: red;
}

input.save {
    width: 150px;
    height: 50px;
    align-self: flex-end;
    border: none;
    background-color: rgba(252, 138, 6, 1);
    color: rgba(255, 255, 255, 1);
}