.container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.logo {
    height: 50%;
}

.sub {
    flex: 1;
    justify-content: end;
    gap: 10px;
}

.options, .user, .selected {
    padding: 10px;
    border-radius: 50px;
    margin: 0;
}

.selected { 
    background-color: rgba(252, 138, 6, 1);
    color: white;
    padding: 10px 20px;
}

.user {
    width: 200px;
    height: fit-content;
    background-color: rgba(3, 8, 31, 1);
    color: white;
    cursor: pointer;
}

.sub, .user {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.1em;
}

.user > p {
    margin: 0;
    flex: 1;
    text-align: center;
}

